<!doctype html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>国家分析</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/static/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/static/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/static/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/static/static/img/favicons/favicon.ico">
    <link rel="manifest" href="/static/static/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="static/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="/static/static/css/css2.css" rel="stylesheet">
    <link href="/static/static/css/css21.css" rel="stylesheet">
    <link href="/static/static/css/phoenix.min.css" rel="stylesheet" id="style-default">
    <link href="#" rel="stylesheet" id="user-style-default">
    <style>
      body {
        opacity: 0;
      }
    </style>
  </head>

  <body>
    <main class="main" id="top">
      <div class="container-fluid px-0">
        <nav class="navbar navbar-light navbar-vertical navbar-vibrant navbar-expand-lg">
          <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
            <div class="navbar-vertical-content scrollbar">
              <ul class="navbar-nav flex-column" id="navbarVerticalNav">
{#                <li class="nav-item"><a class="nav-link active" href="">#}
{#                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="cast"></span></span><span class="nav-link-text">类别分析</span></div>#}
{#                  </a></li>#}

{#                  数据分析#}
                <li class="nav-item">
                  <p class="navbar-vertical-label">数据分析</p>

                   <a class="nav-link " href="/myApp/catChart">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="layers"></span></span><span class="nav-link-text">类别分析</span></div>
                    </a>
                    <a class="nav-link " href="/myApp/countryChart">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="cast"></span></span><span class="nav-link-text">国家分析</span></div>
                    </a>
                    <a class="nav-link " href="/myApp/timeChart">
                   <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="watch"></span></span><span class="nav-link-text">时间分析</span></div>
                    </a>

{#                    <a class="nav-link" href="starter.html" role="button" data-bs-toggle="" aria-expanded="false">#}
{#                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="flag"></span></span><span class="nav-link-text">Starter</span></div>#}
{#                  </a><a class="nav-link dropdown-indicator" href="#errors" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="errors">#}
{#                    <div class="d-flex align-items-center">#}
{#                      <div class="dropdown-indicator-icon d-flex flex-center"><span class="fas fa-caret-right fs-0"></span></div><span class="nav-link-icon"><span data-feather="alert-triangle"></span></span><span class="nav-link-text">Errors</span>#}
{#                    </div>#}
{#                  </a>#}
{#                  <ul class="nav collapse parent" id="errors">#}
{#                    <li class="nav-item"><a class="nav-link" href="404.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">404</span></div>#}
{#                      </a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="500.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">500</span></div>#}
{#                      </a></li>#}
{#                  </ul><a class="nav-link dropdown-indicator" href="#authentication" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="authentication">#}
{#                    <div class="d-flex align-items-center">#}
{#                      <div class="dropdown-indicator-icon d-flex flex-center"><span class="fas fa-caret-right fs-0"></span></div><span class="nav-link-icon"><span data-feather="lock"></span></span><span class="nav-link-text">Authentication</span>#}
{#                    </div>#}
{#                  </a>#}
{#                  <ul class="nav collapse parent" id="authentication">#}
{#                    <li class="nav-item"><a class="nav-link" href="login.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">Sign in</span></div>#}
{#                      </a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="register.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">Sign up</span></div>#}
{#                      </a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="sign-out.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">Sign out</span></div>#}
{#                      </a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="forgot-password.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">Forgot password</span></div>#}
{#                      </a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="reset-password.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">Reset password</span></div>#}
{#                      </a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="lock-screen.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">Lock screen</span></div>#}
{#                      </a></li>#}
{#                  </ul>#}
                </li>
                
                <li class="nav-item">
                  <p class="navbar-vertical-label">数据总览</p>

                    <a class="nav-link " href="/myApp/totalMovies">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="flag"></span></span><span class="nav-link-text">数据总览</span></div>
                    </a>
                </li>  
                <li class="nav-item">
                  <p class="navbar-vertical-label">个人信息</p>

                    <a class="nav-link " href="">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="user"></span></span><span class="nav-link-text">个人信息修改</span></div>
                    </a>
                    <a class="nav-link " href="">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="heart"></span></span><span class="nav-link-text">个人收藏</span></div>
                    </a>
                </li>


                <li class="nav-item">
                  <p class="navbar-vertical-label">预测</p>

                    <a class="nav-link " href="">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="flag"></span></span><span class="nav-link-text">票房预测</span></div>
                    </a>
                </li>

                <li class="nav-item">
                  <p class="navbar-vertical-label">推荐</p>

                    <a class="nav-link " href="">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="star"></span></span><span class="nav-link-text">电影推荐</span></div>
                    </a>
                </li>
                  
                <li class="nav-item">
                  <p class="navbar-vertical-label">数据词云图</p>

                    <a class="nav-link " href="">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="cloud"></span></span><span class="nav-link-text">词云图</span></div>
                    </a>
                </li>  
                  
              </ul>
            </div>
            <div class="navbar-vertical-footer"><a class="btn btn-link border-0 fw-semi-bold d-flex ps-0" href="#!"><span class="navbar-vertical-footer-icon" data-feather="log-out"></span><span>Settings</span></a></div>
          </div>
        </nav>
        <nav class="navbar navbar-light navbar-vertical navbar-vibrant navbar-expand-lg">
          <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
            <div class="navbar-vertical-content scrollbar">
              <ul class="navbar-nav flex-column" id="navbarVerticalNav">
{#                <li class="nav-item"><a class="nav-link active" href="">#}
{#                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="cast"></span></span><span class="nav-link-text">类别分析</span></div>#}
{#                  </a></li>#}

{#                  数据分析#}
                <li class="nav-item">
                  <p class="navbar-vertical-label">数据分析</p>

                   <a class="nav-link " href="/myApp/catChart">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="layers"></span></span><span class="nav-link-text">类别分析</span></div>
                    </a>
                    <a class="nav-link " href="/myApp/countryChart">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="cast"></span></span><span class="nav-link-text">国家分析</span></div>
                    </a>
                    <a class="nav-link " href="/myApp/timeChart">
                   <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="watch"></span></span><span class="nav-link-text">时间分析</span></div>
                    </a>

{#                    <a class="nav-link" href="starter.html" role="button" data-bs-toggle="" aria-expanded="false">#}
{#                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="flag"></span></span><span class="nav-link-text">Starter</span></div>#}
{#                  </a><a class="nav-link dropdown-indicator" href="#errors" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="errors">#}
{#                    <div class="d-flex align-items-center">#}
{#                      <div class="dropdown-indicator-icon d-flex flex-center"><span class="fas fa-caret-right fs-0"></span></div><span class="nav-link-icon"><span data-feather="alert-triangle"></span></span><span class="nav-link-text">Errors</span>#}
{#                    </div>#}
{#                  </a>#}
{#                  <ul class="nav collapse parent" id="errors">#}
{#                    <li class="nav-item"><a class="nav-link" href="404.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">404</span></div>#}
{#                      </a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="500.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">500</span></div>#}
{#                      </a></li>#}
{#                  </ul><a class="nav-link dropdown-indicator" href="#authentication" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="authentication">#}
{#                    <div class="d-flex align-items-center">#}
{#                      <div class="dropdown-indicator-icon d-flex flex-center"><span class="fas fa-caret-right fs-0"></span></div><span class="nav-link-icon"><span data-feather="lock"></span></span><span class="nav-link-text">Authentication</span>#}
{#                    </div>#}
{#                  </a>#}
{#                  <ul class="nav collapse parent" id="authentication">#}
{#                    <li class="nav-item"><a class="nav-link" href="login.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">Sign in</span></div>#}
{#                      </a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="register.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">Sign up</span></div>#}
{#                      </a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="sign-out.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">Sign out</span></div>#}
{#                      </a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="forgot-password.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">Forgot password</span></div>#}
{#                      </a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="reset-password.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">Reset password</span></div>#}
{#                      </a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="lock-screen.html" data-bs-toggle="" aria-expanded="false">#}
{#                        <div class="d-flex align-items-center"><span class="nav-link-text">Lock screen</span></div>#}
{#                      </a></li>#}
{#                  </ul>#}
                </li>

                <li class="nav-item">
                  <p class="navbar-vertical-label">数据总览</p>

                    <a class="nav-link " href="">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="flag"></span></span><span class="nav-link-text">数据总览</span></div>
                    </a>
                </li>
                <li class="nav-item">
                  <p class="navbar-vertical-label">个人信息</p>

                    <a class="nav-link " href="">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="user"></span></span><span class="nav-link-text">个人信息修改</span></div>
                    </a>
                    <a class="nav-link " href="">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="heart"></span></span><span class="nav-link-text">个人收藏</span></div>
                    </a>
                </li>


                <li class="nav-item">
                  <p class="navbar-vertical-label">预测</p>

                    <a class="nav-link " href="">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="flag"></span></span><span class="nav-link-text">票房预测</span></div>
                    </a>
                </li>

                <li class="nav-item">
                  <p class="navbar-vertical-label">推荐</p>

                    <a class="nav-link " href="">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="star"></span></span><span class="nav-link-text">电影推荐</span></div>
                    </a>
                </li>

                <li class="nav-item">
                  <p class="navbar-vertical-label">数据词云图</p>

                    <a class="nav-link " href="">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="cloud"></span></span><span class="nav-link-text">词云图</span></div>
                    </a>
                </li>

              </ul>
            </div>


            <div class="navbar-vertical-footer"><a class="btn btn-link border-0 fw-semi-bold d-flex ps-0" href="#!"><span class="navbar-vertical-footer-icon" data-feather="log-out"></span><span>Settings</span></a></div>
          </div>
        </nav>
        <nav class="navbar navbar-light navbar-top navbar-expand">
          <div class="navbar-logo"><button class="btn navbar-toggler navbar-toggler-humburger-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button> <a class="navbar-brand me-1 me-sm-3" href="">
              <div class="d-flex align-items-center">
                <div class="d-flex align-items-center"><img src="/static/static/picture/logo.png" alt="phoenix" width="32">
                  <p class="logo-text ms-2 d-none d-sm-block">电影数据分析</p>
                </div>
              </div>
            </a></div>
          <div class="collapse navbar-collapse">

            <ul class="navbar-nav navbar-nav-icons ms-auto flex-row">

              <li class="nav-item dropdown"><a class="nav-link lh-1 px-0 ms-5" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="avatar avatar-l"><img class="rounded-circle" src="/static/static/picture/57.png" alt=""></div>
                </a>
                <div class="dropdown-menu dropdown-menu-end py-0 dropdown-profile shadow border border-300" aria-labelledby="navbarDropdownUser">
                  <div class="card bg-white position-relative border-0">
                    <div class="card-body p-0 overflow-auto scrollbar" style="height: 18rem;">
                      <div class="text-center pt-4 pb-3">
                        <div class="avatar avatar-xl"><img class="rounded-circle" src="/static/static/picture/57.png" alt=""></div>
                        <h6 class="mt-2">{{ userInfo.username }}</h6>
                      </div>
                      <div class="mb-3 mx-3"><input class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="Update your status"></div>
                      <ul class="nav d-flex flex-column mb-2 pb-1">
                        <li class="nav-item"><a class="nav-link px-3" href="#!"><span class="me-2 text-900" data-feather="user"></span>个人信息</a></li>
                        <li class="nav-item"><a class="nav-link px-3" href="#!"><span class="me-2 text-900" data-feather="pie-chart"></span>Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link px-3" href="#!"><span class="me-2 text-900" data-feather="lock"></span>Posts &amp; Activity</a></li>

                      </ul>
                    </div>
                    <div class="card-footer p-0 border-top">
                      <ul class="nav d-flex flex-column my-3">
                        <li class="nav-item"><a class="nav-link px-3" href="#!"><span class="me-2 text-900" data-feather="user-plus"></span>Add another account</a></li>
                      </ul>
                      <hr>
                      <div class="px-3"><a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="/myApp/login"><span class="me-2" data-feather="log-out"></span>退出登录</a></div>
                      <div class="my-2 text-center fw-bold fs--2 text-600"><a class="text-600 me-1" href="#!">Privacy policy</a>&bull;<a class="text-600 mx-1" href="#!">Terms</a>&bull;<a class="text-600 ms-1" href="#!">Cookies</a></div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <div class="content pt-5">
          <div class="pb-5">
            <div class="row g-5">
              <div class="col-12">
                <div class="mb-8">
                  <h1 class="mb-2">国家分析</h1>
                </div>
                <div class="row align-items-center g-4">

                </div>
                <hr class="bg-200 mb-6 mt-4">


                <div id="mainA" style="min-height:640px;width:100%"></div>
              </div>

            </div>
          </div>
            <div class="pb-5">
            <div class="row g-5">
              <div class="col-12">
                <div class="mb-8">
                </div>
                    <div class="row flex-between-center mb-4 g-3">
                        <div class="col-auto">
                          <h3>{{ defaultCountry }}票房Top10</h3>
                        </div>
                        <div class="col-8 col-sm-4"><select class="form-select form-select-sm mt-2" id="select-gross-revenue-month" onchange="typeChange(event)">
                            {% for country in topCountryName %}
                                {% if country == defaultCountry %}
                                  <option selected value="{{ country }}">{{ country }}</option>
                                {% else %}
                                    <option value="{{ country }}">{{ country }}</option>
                                {% endif %}
                            {% endfor %}
                          </select></div>
                    </div>

                <div class="row align-items-center g-4">

                </div>
                <hr class="bg-200 mb-6 mt-4">


                <div id="mainD" style="min-height:320px;width:100%"></div>
              </div>

            </div>
          </div>
          <div class="mx-n6 bg-white px-6 pt-7 pb-6 border-top border-300">
            <div class="row g-5">
              <div class="col-12 col-xl-6">
                <div class="me-xl-4">
                  <div>
                    <h3>各国电影平均评分</h3>
                    <p class="text-700">Country Mean Movie Rate</p>
                  </div>
                  <div id="mainB" style="height:300px; width:100%"></div>
                </div>
              </div>
              <div class="col-12 col-xl-6">
                <div>
                  <h3>各国电影平均时长</h3>
                  <p class="text-700">Country Mean Movie Length</p>
                </div>
                <div id="mainC"  style="height:300px;"></div>
              </div>
            </div>
          </div>
          <footer class="footer">
            <div class="row g-0 justify-content-between align-items-center h-100 mb-3">
              <div class="col-12 col-sm-auto text-center">
              </div>
              <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">v1.0.0</p>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </main>
    <script src="/static/static/js/phoenix.js"></script>
    <script src="/static/static/js/ecommerce-dashboard.js"></script>
</body>

<script src="/static/static/echarts.js"></script>
    <script>
        // 初始化图表
        var chart1 = echarts.init(document.getElementById('mainA'));


        // 使用fetch加载本地world.json文件
        fetch('/static/static/world.json')
            .then(response => response.json())
            .then(worldJson => {

                // 注册地图数据
                echarts.registerMap('world', worldJson);
                // 准备数据
                var countryData = JSON.parse('{{ countryTicketData|escapejs }}');

                // 配置项
    var option1 = {
    title: {
        text: '国内电影票房分布',
        subtext: '数据来源：电影票房统计',
        left: 'center',
        textStyle: {
            color: '#333',
            fontSize: 20
        }
    },
    tooltip: {
        trigger: 'item',
        formatter: function(params) {
            var value = params.value ? (params.value / 10000).toFixed(2) + '万' : '无数据';
            return params.name + '<br/>票房: ' + value;
        }
    },
    visualMap: {
        min: 0,
        max: 30000000,
        text: ['高', '低'],
        realtime: false,
        calculable: true,
        // 修改为更明显的颜色渐变
        {#inRange: {#}
        {#    color: [#}
        {#        '#f0f9e8',  // 最浅色#}
        {#        '#bae4bc',#}
        {#        '#7bccc4',#}
        {#        '#43a2ca',#}
        {#        '#0868ac',  // 中等色#}
        {#        '#084081'  // 最深色#}
        {#    ]#}

        inRange: {
            color: [
                '#ffffcc',  // 最浅色
                '#ffeda0',
                '#fed976',
                '#feb24c',
                '#fd8d3c',
                '#fc4e2a',  // 中等色
                '#e31a1c',
                '#bd0026',
                '#800026'   // 最深色
            ]
        },
        textStyle: {
            color: '#333'
        }
    },
    series: [{
        name: '票房数据',
        type: 'map',
        map: 'world',
        roam: true,
        emphasis: {
            label: {
                show: true
            }
        },
        data: countryData,
        // 自定义名称映射
        nameMap: {
            'Hong Kong': '中国香港',
            'Macau': '中国澳门',
            'Taiwan': '中国台湾'
        }
    }]
};

                // 使用配置项显示图表
                chart1.setOption(option1);

                // 响应式调整
                window.addEventListener('resize', function() {
                    chart1.resize();
                });
            })
            .catch(error => {
                console.error('加载地图数据失败:', error);
                chart1.showLoading('error', '地图数据加载失败');
            });
    </script>


<script>
    var chartDom = document.getElementById('mainB');
    var myChart = echarts.init(chartDom, 'vintage');  // 使用内置主题
    var option;
     function generateColor() {
            const colors = [
                'rgb(27, 94, 93)', 'rgb(206, 188, 11)', 'rgb(165, 190, 198)',
                'rgb(98, 41, 72)', 'rgb(175, 20, 143)', 'rgb(77, 231, 55)',
                'rgb(26, 83, 246)', 'rgb(155, 118, 127)', 'rgb(116, 207, 18)',
                'rgb(98, 224, 224)', 'rgb(137, 37, 21)', 'rgb(81, 27, 15)'
            ];
            return colors[Math.floor(Math.random() * colors.length)];
        }
    function resizeChart() {
        myChart.resize();
    }
    window.addEventListener('resize', resizeChart);
    countryName = {{ countryName | safe }}
    countryRate = {{ countryRate | safe }}
     // 处理数据，过滤掉评分为0的国家
        const data = countryName.map((name, index) => {
            if (countryRate[index] > 0) {
                const color = generateColor();
                return {
                    name: name,
                    value: countryRate[index],
                    symbolSize: Math.sqrt(countryRate[index]) * 8,
                    draggable: true,
                    itemStyle: {
                        color: color,
                        borderColor: color,
                        borderWidth: 4,
                        shadowBlur: 20,
                        shadowColor: color
                    }
                };
            }
        }).filter(item => item);
    option = {
            backgroundColor: '#fff',
            title: {
                text: '各国电影评分关系图',
                subtext: '气泡大小表示评分高低',
                left: 'center',
                top: 20,
                textStyle: {
                    color: '#333',
                    fontSize: 22
                }
            },
            tooltip: {
                formatter: function(params) {
                    return `${params.data.name}<br/>平均评分: <b>${params.data.value}</b>`;
                },
                backgroundColor: 'rgba(50,50,50,0.9)',
                borderColor: '#333',
                textStyle: {
                    color: '#fff'
                }
            },
            animationDurationUpdate: function(idx) {
                return idx * 100;
            },
            animationEasingUpdate: 'bounceIn',
            series: [{
                type: 'graph',
                layout: 'force',
                force: {
                    repulsion: 200,
                    edgeLength: 50,
                    gravity: 0.1
                },
                roam: true,
                focusNodeAdjacency: true,
                draggable: true,
                data: data,
                label: {
                    show: true,
                    position: 'inside',
                    fontSize: 10,
                    color: '#fff',
                    fontWeight: 'bold',
                    formatter: function(params) {
                        // 只显示评分高于80的国家名称
                        return params.data.value > 80 ? params.data.name : '';
                    }
                },
                emphasis: {
                    label: {
                        show: true
                    },
                    itemStyle: {
                        shadowBlur: 30,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },
                categories: data.map(item => {
                    return {name: item.name};
                })
            }],
            toolbox: {
                show: true,
                feature: {
                    saveAsImage: {
                        title: '保存图片',
                        pixelRatio: 2
                    },
                    restore: {
                        title: '重置视图'
                    }
                },
                right: 20,
                top: 20
            }
        };


    // 响应式配置
    window.addEventListener('resize', function() {
        myChart.resize();
    });

    option && myChart.setOption(option);
</script>

<script>
    var chartDom = document.getElementById('mainC');
    var myChart = echarts.init(chartDom, 'vintage');  // 使用内置主题
    var option;
    function resizeChart() {
        myChart.resize();
    }
    window.addEventListener('resize', resizeChart);

    var colorPalette = [
        '#c23531','#2f4554','#61a0a8','#d48265','#91c7ae',
        '#749f83','#ca8622','#bda29a','#6e7074','#546570',
        '#c4ccd3','#f05b72','#ef5b9c','#f47920','#905a3d',
        '#fab27b','#2a5caa','#444693','#726930','#b2d235'
    ];
    var lengthCountryName = {{ lengthCountryName | safe }};
    var lengthCountryData = {{ lengthCountryData | safe }};

    option = {

        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b}: {c}分钟 ({d}%)',
            backgroundColor: 'rgba(255,255,255,0.95)',
            borderColor: '#ddd',
            borderWidth: 1,
            padding: 10,
            textStyle: {
                color: '#333'
            }
        },

        series: [{
            name: '平均时长',
            type: 'pie',
            radius: ['40%', '70%'],  // 环形饼图
            avoidLabelOverlap: true,
            itemStyle: {
                borderRadius: 5,
                borderColor: '#fff',
                borderWidth: 2
            },
            label: {
                show: true,
                formatter: '{b}: {c}分钟',
                color: '#333'
            },
            emphasis: {
                label: {
                    show: true,
                    fontSize: '16',
                    fontWeight: 'bold'
                },
                itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            },
            labelLine: {
                show: true
            },
            data: lengthCountryName.map(function(name, index) {
                return {
                    value: lengthCountryData[index],
                    name: name,
                    itemStyle: {
                        color: colorPalette[index % colorPalette.length]
                    }
                };
            }),
            animationType: 'scale',
            animationEasing: 'elasticOut',
            animationDelay: function(idx) {
                return Math.random() * 200;
            }
        }]
    };

    // 响应式配置
    window.addEventListener('resize', function() {
        myChart.resize();
    });

    option && myChart.setOption(option);
</script>
  
  
  <script>
        var chartDom = document.getElementById('mainD');
    var myChart1 = echarts.init(chartDom);
    var option1;
    function resizeChart() {
        myChart1.resize();
    }
    window.addEventListener('resize', resizeChart);
    option1 = {
    backgroundColor: 'transparent',
        tooltip: {
            trigger: 'axis',
            backgroundColor: 'rgba(0,0,0,0.8)',
            borderColor: 'rgba(72,216,191,0.8)',
            borderWidth: 1,
            {#padding: [10, 15],#}
            textStyle: {
                color: '#fff',
                fontSize: 14
            },
            axisPointer: {
                type: 'shadow',
                shadowStyle: {
                    color: 'rgba(72,216,191,0.1)'
                },
                label: {
                    backgroundColor: '#48D8BF'
                }
            },
            formatter: function(params) {
                return `<div style="font-weight:bold">${params[0].name}</div>
                        <div style="display:flex;align-items:center;margin-top:5px">
                            <span style="display:inline-block;width:10px;height:10px;background:linear-gradient(to right, #A9F387, #48D8BF);border-radius:50%;margin-right:8px"></span>
                            票房: <span style="font-weight:bold;margin-left:5px">${params[0].value}</span>
                        </div>`;
            }
        },
        grid: {
            top: '15%',
            left: '0%',
            right: '0%',
            bottom: '-1%',
            containLabel: true
        },
    xAxis: [{
            data: {{ topMoiveName | safe }},
            axisLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,0.3)'
                }
            },
            axisLabel: {
                color: 'rgba(1,1,1,0.7)',
                fontSize: 12,
                interval: 0,
                rotate: 30
            },
            axisTick: {
                show: true
            }
        }],
    yAxis: [{
            type: 'value',
            splitNumber: 4,
            splitLine: {
                lineStyle: {
                    type: 'dashed',
                    color: 'rgba(1,1,1,0.1)'
                }
            },
            axisLine: {
                show: false
            },
            axisLabel: {
                color: 'rgba(1,1,1,0.6)',
                fontSize: 12
            },
            axisTick: {
                show: false
            },
            nameTextStyle: {
                color: 'rgba(255,255,255,0.6)'
            }
        }],
    series: [{
            name: '票房',
            type: 'line',
            data: {{ topMovieTicket | safe }},
            symbol: 'circle',
            symbolSize: 10,
            lineStyle: {
                width: 4,
                color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [
                    { offset: 0, color: '#A9F387' },
                    { offset: 1, color: '#48D8BF' }
                ]),
                shadowColor: 'rgba(72,216,191,0.3)',
                shadowBlur: 10,
                shadowOffsetY: 5
            },
            itemStyle: {
                color: '#fff',
                borderColor: '#48D8BF',
                borderWidth: 2,
                shadowColor: 'rgba(72,216,191,0.3)',
                shadowBlur: 5,
                shadowOffsetY: 3
            },
            areaStyle: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    { offset: 0, color: 'rgba(169,243,135,0.3)' },
                    { offset: 1, color: 'rgba(72,216,191,0.1)' }
                ])
            },
            smooth: true,
            animationEasing: 'elasticOut',
            animationDuration: 1500
        }]
};
// 添加加载动画
    myChart1.showLoading({
        text: '正在加载数据...',
        color: '#48D8BF',
        textColor: '#fff',
        maskColor: 'rgba(0, 0, 0, 0.7)',
        zlevel: 0
    });
    setTimeout(function() {
        myChart1.hideLoading();
        option1 && myChart1.setOption(option1);

    }, 50);

</script>

<script>
    function typeChange(e){
        location.href = 'http://localhost:8000/myApp/countryChart?countryName=' + e.target.value
    }
</script>
</html>